<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>adminlog</display-name>
    <servlet-name>adminlog</servlet-name>
    <servlet-class>show2night.adminlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlog</servlet-name>
    <url-pattern>/adminlog</url-pattern>
  </servlet-mapping>
  <display-name>show2night</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>admininsert</display-name>
    <servlet-name>admininsert</servlet-name>
    <servlet-class>show2night.admininsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admininsert</servlet-name>
    <url-pattern>/admininsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDBUtil</display-name>
    <servlet-name>CustomerDBUtil</servlet-name>
    <servlet-class>show2night.CustomerDBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDBUtil</servlet-name>
    <url-pattern>/CustomerDBUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customerinsert</display-name>
    <servlet-name>Customerinsert</servlet-name>
    <servlet-class>show2night.Customerinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customerinsert</servlet-name>
    <url-pattern>/Customerinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecus</display-name>
    <servlet-name>deletecus</servlet-name>
    <servlet-class>show2night.deletecus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecus</servlet-name>
    <url-pattern>/deletecus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ho</display-name>
    <servlet-name>ho</servlet-name>
    <servlet-class>show2night.ho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ho</servlet-name>
    <url-pattern>/ho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logcus</display-name>
    <servlet-name>Logcus</servlet-name>
    <servlet-class>show2night.Logcus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logcus</servlet-name>
    <url-pattern>/Logcus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatecus</display-name>
    <servlet-name>updatecus</servlet-name>
    <servlet-class>show2night.updatecus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecus</servlet-name>
    <url-pattern>/updatecus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatecustomer</display-name>
    <servlet-name>updatecustomer</servlet-name>
    <servlet-class>show2night.updatecustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecustomer</servlet-name>
    <url-pattern>/updatecustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPhotoServlet</display-name>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <servlet-class>show2night.UploadPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <url-pattern>/UploadPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPhotoServle</display-name>
    <servlet-name>UploadPhotoServle</servlet-name>
    <servlet-class>show2night.UploadPhotoServle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPhotoServle</servlet-name>
    <url-pattern>/UploadPhotoServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPhotoServl</display-name>
    <servlet-name>UploadPhotoServl</servlet-name>
    <servlet-class>show2night.UploadPhotoServl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPhotoServl</servlet-name>
    <url-pattern>/UploadPhotoServl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>show2night.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>up</display-name>
    <servlet-name>up</servlet-name>
    <servlet-class>show2night.up</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>up</servlet-name>
    <url-pattern>/up</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletead</display-name>
    <servlet-name>deletead</servlet-name>
    <servlet-class>show2night.deletead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletead</servlet-name>
    <url-pattern>/deletead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteadd</display-name>
    <servlet-name>deleteadd</servlet-name>
    <servlet-class>show2night.deleteadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteadd</servlet-name>
    <url-pattern>/deleteadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edituserserver</display-name>
    <servlet-name>edituserserver</servlet-name>
    <servlet-class>show2night.edituserserver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edituserserver</servlet-name>
    <url-pattern>/edituserserver</url-pattern>
  </servlet-mapping>
</web-app>